html, body, #root {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.FullHeightContent {
    min-height: 100vh;
    /*width: 100vw;*/
    padding: 0 0 0 0;
    margin: 0 0 0 0 !important;
}

/* Stretches content inside the inheriting container marked as 'StretchContainer' */
.StretchContent {
    display: flex;
    flex-flow: column;
}

.StretchContainer {
    flex: 1 1 auto;
    display: flex !important;
}

.KeepLineBreaks {
    white-space: pre-line;
}

.CenterInlineFormChecks .form-check-inline {
    display: flex;
    justify-content: center;
}

.CutoffBar {
    min-height: 1vh;
    max-height: 1vh;
    width: 100vw;
    background-color: #D4D4D4;
    margin: 0 0 0 0 !important;
}

.ScreenBorder {
    -webkit-box-shadow:inset 0px 0px 0px 10px #D4D4D4;
    -moz-box-shadow:inset 0px 0px 0px 10px #D4D4D4;
    box-shadow:inset 0px 0px 0px 10px #D4D4D4;
}

.ImportantText {
    font-size: 20px
}